<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.l13z.lottery.infrastructure.dao.IActivityDao">

    <resultMap id="activityMap" type="cn.l13z.lottery.infrastructure.po.Activity">
        <id column="id" property="id"/>
        <result column="awardId" property="activityId"/>
        <result column="awardType" property="activityName"/>
        <result column="awardCount" property="activityDesc"/>
        <result column="awardName" property="beginDateTime"/>
        <result column="awardContent" property="endDateTime"/>
        <result column="createTime" property="stockCount"/>
        <result column="updateTime" property="takeCount"/>

    </resultMap>


    <insert id="insert" parameterType="cn.l13z.lottery.infrastructure.po.Activity">
        INSERT INTO activity
        (activityId, activityName, activityDesc,beginDateTime, endDateTime,
        stockCount, takeCount, state, creator, createTime, updateTime)
        VALUES
        (#{activityId}, #{activityName}, #{activityDesc},#{beginDateTime}, #{endDateTime},
        #{stockCount}, #{takeCount}, #{state}, #{creator}, now(), now())
    </insert>

    <select id="queryActivityById" parameterType="java.lang.Long" resultType="cn.l13z.lottery.infrastructure.po.Activity">
        SELECT activityId, activityName, activityDesc,beginDateTime, endDateTime,
        stockCount, takeCount, state, creator, createTime, updateTime
        FROM activity
        WHERE activityId = #{activityId}
    </select>


</mapper>
