<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.l13z.lottery.infrastructure.dao.IUserTakeActivityDao">
  <resultMap id="userTakeActivityMap" type="cn.l13z.lottery.infrastructure.po.UserTakeActivity">
    <id column="id" property="id"/>
    <result column="uId" property="uId"/>
    <result column="takeId" property="takeId"/>
    <result column="activityId" property="activityId"/>
    <result column="activityName" property="activityName"/>
    <result column="takeDate" property="takeDate"/>
    <result column="takeCount" property="takeCount"/>
    <result column="state" property="state"/>
    <result column="uuid" property="uuid"/>
    <result column="createTime" property="createTime"/>
    <result column="updateTime" property="updateTime"/>
  </resultMap>

  <insert id="insert" parameterType="cn.l13z.lottery.infrastructure.po.UserTakeActivity">
    INSERT INTO user_take_activity
    (uId, takeId, activityId, activityName, takeDate,
    takeCount, uuId, createTime, updateTime)
    VALUES
    (#{uId}, #{takeId}, #{activityId}, #{activityName}, #{takeDate},
    #{takeCount}, #{uuid}, now(), now())
  </insert>

  <update id="lockTackActivity" parameterType="cn.l13z.lottery.infrastructure.po.UserTakeActivity">
    UPDATE user_take_activity SET state = 1
    WHERE uId = #{uId} AND activityId = #{activityId} AND state = 0
  </update>

  <select id="queryNoConsumedTakeActivityOrder" parameterType="cn.l13z.lottery.infrastructure.po.UserTakeActivity" resultMap="userTakeActivityMap">
    SELECT activity_id, take_id, strategy_id, state
    FROM user_take_activity
    WHERE u_id = #{uId} AND activity_id = #{activityId} AND state = 0
    ORDER BY id DESC
    LIMIT 1
  </select>
</mapper>
